name: Test_armv7

on:
  workflow_dispatch:

permissions: # added using https://github.com/step-security/secure-repo
  contents: read

jobs:

  musl_build_amd64:
    runs-on: ubuntu-24.04
    if: ${{ ! inputs.native_build_only }}
    defaults:
      run:
        working-directory: ./packages/c
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            output-name: sshnpd-linux-x64-musl
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - run: |
          docker buildx build -t atsigncompany/testarmmusl -f sshnpd/tools/Dockerfile.test \
          --platform ${{ matrix.platform }} .

  musl_build_arm64:
    runs-on: ubuntu-24.04-arm
    if: ${{ ! inputs.native_build_only }}
    defaults:
      run:
        working-directory: ./packages/c
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/arm/v7
            output-name: test-arm-musl
          - platform: linux/arm64
            output-name: test-arm64-musl
          - platform: linux/riscv64
            output-name: test-riscv64-musl
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - run: |
          docker buildx build -t atsigncompany/testarmmusl -f sshnpd/tools/Dockerfile.test \
          --platform ${{ matrix.platform }} .
