name: DropDown Test

on:
  push:
    tags:
      - 'm*.*.*' 
  workflow_dispatch:
    inputs:
      image:
        type: choice
        description: Select image to promote
        options:
          - sshnpd
          - activate_sshnpd
          - sshnp_sshnpd
          - npt_sshnpd
          - sshnpd-slim
          - srvd

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  single:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Promote canary to latest
        run: |
          echo "Would bump: ${{ github.event.inputs.image }}"

  multi:
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: sshnpd
          - name: activate_sshnpd
          - name: sshnp_sshnpd
          - name: npt_sshnpd
          - name: sshnpd-slim
          - name: srvd
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Promote canary to latest
        run: |
          echo "Would bump: ${{ matrix.name }}"
