name: matrixtest

on:
  push:
    branches:
      - main 
    tags:
      - 'l*.*.*' # Matches tags like v1.0.0, v1.0.1, etc.
    workflow_dispatch:

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  docker:
    strategy:
      matrix:
        os: [ubuntu-24.04-arm, ubuntu-24.04]
        name:
          - sshnpd
          - srvd
        include:
          - name: sshnpd
            dockerfile: ./packages/dart/sshnoports/tools/Dockerfile
          - name: srvd
            dockerfile: ./packages/dart/sshnoports/tools/Dockerfile.srvd
          - os: ubuntu-24.04-arm
            platforms: linux/arm64,linux/arm/v7
          - os: ubuntu-24.04
            platforms: linux/amd64
            prefix: amd64-
    runs-on: ${{ matrix.os }}
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: atsigncompany/${{ matrix.name }}
          tags: |
            # Default tag for pushes to trunk (dev_env)
            type=raw,value=${{ matrix.prefix }}dev_env,enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
            # Decorated tag for pushes to trunk (dev_env-branch-gha)
            type=raw,value=${{ matrix.prefix }}dev_env-${{ github.ref_name }}-gha${{ github.run_number }},enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
            # Tag for tagged releases (canary)
            type=raw,value=${{ matrix.prefix }}canary,enable=${{ startsWith(github.ref, 'refs/tags/l') }}
            # Also add the Git tag name itself for releases
            type=raw,value=${{ matrix.prefix }}canary-${{ github.ref_name }},enable=${{ startsWith(github.ref, 'refs/tags/l') }}
      # Extract version and OS for docker tags
      - name: Get version
        run: |
          echo "VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
          echo "Version: ${{ env.VERSION }}"
          echo "Current OS type: $OSTYPE"
          echo "Matrix OS: ${{ matrix.os}}"
          echo "Name: ${{ matrix.name }}"
          echo "Dockerfile: ${{ matrix.dockerfile }}"
          echo "Platforms: ${{ matrix.platforms }}"
          echo "Prefix: ${{ matrix.prefix }}"
          echo "Docker tags: ${{ steps.meta.outputs.tags }}"
          echo "Docker labels: ${{ steps.meta.outputs.labels }}"
          if ${{ startsWith(github.ref, 'refs/tags/l') }}; then
            echo "Tagged release"
          else
            echo "Not a tagged release"
          fi

